<div class="container-fluid page">
    <h1 align="center">ABOUT ME </h1> 
   
    <img  src="../../assets/img/per.jpeg" width="270" height="270"  >
    <div class="txt">
        <h2>I welcome you to my space   </h2>
        <p align = "justify">Hello, my name is David Moreno. I am a systems engineering student at the Caribbean University Corporation (CECAR). I am 22 years old. I am going for the ninth semester.
            I currently live in Corozal-Sucre
            But I was born and raised most of my childhood in Bogota D.C.
             I am a creative person who really likes the development of web applications.
            in the last semesters I have developed web applications
            depending on the subject that requires it.
            In the space "projects" of this page the process and the methodology used for the development of this project will be more detailed.</p>
    </div>
    <div>
        <b>What I do</b>
        <p class="pe">Web design/mobile design</p>
        <b>Contact :</b>
        <p class="pe">3017582116</p>

    </div>
   </div>
 
