<div class="container-fluid page">
    <h1 align="center">Projects  </h1> <hr>
    <h2>Project 1</h2>
   <br><br>
   <img  src="../../assets/img/j.png" width="520" height="270"  >
   <div class="txt">
      <br><br><br><br>
       <p align = "justify">
          This project is a development of a sales system for a beverage vending company called Punto Frio JL. 
          This web application has a menu to go to the different options.  <br>    
         these options are:
        </p>
           
       <p align = "justify">
          <li>User registration and user list. </li>
          <li>Customer registration and customer list. </li>
          <li>Beverage inventory </li>
          <li>sales process and sales listing </li>
       </p>
       <br>
       


      
   
    
   </div>
   <hr><br>
    <h2>Project 2</h2>
   <br><br>
   <img  src="../../assets/img/pr2.png"width="520" height="270"   >
   <div class="txt2">
      <br><br><br><br>
       <p align = "justify">
        This project is the development of a web application created with php as the final project of the subject analysis of numerical techniques. This application has a menu to go to the different options.
        these options are:
        </p>
           
       <p align = "justify">
          <li>Calculation of the exponential fit and its graph. </li>
          <li>Calculation of the logarithmic fit and its graph.</li>
          <li>Calculation of the Potential fit and its graph.</li>
          <li>Calculation of the hyperbolic fit and its graph. </li>
          <li>Calculation of the moving average and its graph.</li>
          <li>Comparative graph of all settings.</li>
       </p>
   
</div> <br><br>
<hr><br>
<h2>Project 3</h2>
<br><br>
<img  src="../../assets/img/jsp.png"width="520" height="270"   >
<div class="txt3">
  <br><br><br><br>
   <p align = "justify">
    This project is the development of an application created in Java together with the JavaServer Pages "JSP" technology as the final project of the Software Engineering Project Management course. This application has a menu to go to the different options.
    these options are:

    </p>
       
   <p align = "justify">
      <li>Create Post.. </li>
      <li>My Post where the user can see their created posts.</li>
      <li>All Post where the user can see the posts of all registered users. </li>
      
   </p>
</div>


