<div class="container-fluid page">
    <h1 align="center">Skills </h1> 
   
    <img  src="../../assets/img/s.png" width="320" height="270"  >
    <div class="txt">
       
        <p align = "justify">
            <li>Knowledge of LAN and WAN networks </li>
            <br>    <li>Handling SQL Server databases . </li>
                <br><li>
                    knowledge of programming languages C ++, java, php.

                </li><br>
                <li>Thinking flexibility for adaptation and subsequent problem solving .</li>
                <br>
                <li>
                    Research and learn new technologies .
                </li>
            </p>
    
   </div>
 

