.example-spacer {
    flex: 1 1 auto;
  }
  .ctool{
      position: sticky;
      background-color:rgb(1, 0, 46);
      color: white;
      

  }
  button {
    outline: none;
    border: 0;
    background: transparent;
    color:white;
      }