<mat-nav-list>
  
<br><br>
    <h1 align="center"  class="tt" matSubheader>MY PORTAFOLY</h1>
    <hr>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/content">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active"  routerLink="/about-me">
      <mat-icon>description</mat-icon> About Me
    </a>
    <a mat-list-item routerLinkActive="list-item-active"  routerLink="/experi"> <mat-icon>assignment</mat-icon> Experience </a>
    <a mat-list-item routerLinkActive="list-item-active"  routerLink="/skills"> <mat-icon>thumb_up</mat-icon> Skills  </a>
    <a mat-list-item routerLinkActive="list-item-active"  routerLink="/projects"> <mat-icon>source</mat-icon> Projects </a>

    
   
  </mat-nav-list>   
