<div class="container-fluid page">
    <h1 align="center">My Experience </h1> 
   
    <img  src="../../assets/img/D.jpg" width="270" height="270"  >
    <div class="txt">
       
        <p align = "justify">
            <li>creation of a web application as an inventory and sales system for a beverage vending company.
                In this application the programming language php was used together with javascript and ajax.</li>
            <br>    <li>creation of a web application to calculate the curve fitting of some data and show its behavior in a graph.
                for this I use php javascript and node js. </li>
                <br><li>
                    development of an api along with its Post, Get, Put and Delete methods to later consume it in a mobile application which was created in xamarin form.

                </li>

            </p>
    
   </div>
 

